<html>
<head> 
    <title><p><b>Stack</b></p></title>
    <style type="text/css">
    BODY {
       margin: 20px; /* Убираем отступы */
       padding: 20px; /* Убираем поля */
    } 
    </style>
</head> 
    <body>
            <div id="createBlock"  >             
                <table >
                <tr>
                    <td>
                        <input type="button" id="Peekbtn" value="Peek" />
                        <input type="text" id="Peektxt" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" id="Pushtxt" />
                        <input type="button" id="Pushbtn" value="Push" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="button" id="Sizebtn"  value="Size"/>
                        <input type="text" id="Sizetxt" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="button" id="Popbtn" value="Pop"/>
                        <input type="text"id="Poptxt" />
                    </td>
                </tr>
                 </table>
            </div>
        </body>
    </html>
@section scripts
{
<script type="text/javascript">
    $(document).ready(function () {

        $("#Peekbtn").click(function (event) {
            event.preventDefault();
            Peek();
        });

        $("#Pushbtn").click(function (event) {
            event.preventDefault();
            Push();
        });

        $("#Sizebtn").click(function (event) {
            event.preventDefault();
            Size();
        });

        $("#Popbtn").click(function (event) {
            event.preventDefault();
            Pop();
        });

    });
    
    // Просмотр хвоста стека
    function Peek() {
        $.ajax({
            url: '/api/Values/',
            type: 'GET',
            success: function (data) {
                if (data != null) {
                    $("#Peektxt").val(data.value);
                } else {
                    $("#Peektxt").val("empty stack");
                }
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }

    // Добавление в хвост стека
    function Push() {
        var value = {
            value: $("#Pushtxt").val().toString()
        };
        $.ajax({
            url: '/api/Values/',
            type: 'POST',
            data: JSON.stringify(value),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                alert("add element");
                $("#Pushtxt").val("");

            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }

    // количество записей
    function Size() {
        $.ajax({
            url: '/api/Size/',
            type: 'GET',
            success: function (data) {
                $("#Sizetxt").val(data);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }

    // удаление из хвоста стека
    function Pop() {
        $.ajax({
            url: '/api/Values/',
            type: 'DELETE',
            success: function (data) {
                if (data != null) {
                    $("#Poptxt").val(data.value);
                } else {
                    $("#Poptxt").val("empty stack");
                }
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }
  
</script>
}
